{
    "parserOptions": {
        "ecmaVersion": 6,
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true
        }
    },
    "rules": {
        "no-console": ["error"]
    },
    "env": {
        "node": true,
        "mocha": true
    },
    extends: "eslint:recommended"
}
